<div id="<%= dom_id cinema_hall %>">
  <p>
    <strong>Name:</strong>
    <%= cinema_hall.name %>
  </p>

  <p>
    <strong>Number of rows:</strong>
    <%= cinema_hall.number_of_rows %>
  </p>

  <p>
    <strong>Number of columns:</strong>
    <%= cinema_hall.number_of_columns %>
  </p>

</div>
